@model BookStore.Models.Book
@{
	ViewBag.Title = "Edit";
}
<h2>Editeaza carte</h2>

@if ((User.IsInRole("Colaborator") && ViewBag.Book.UserId == ViewBag.utilizatorCurent) || User.IsInRole("Admin"))
{
	using (Html.BeginForm(actionName: "Edit", controllerName: "Books", routeValues: new { id = ViewBag.Book.BookId }))
	{
		@Html.HttpMethodOverride(HttpVerbs.Put)
		<br />
		@Html.HiddenFor(m => m.BookId)

		@Html.Label("Title", "Titlu carte")
		<br />
		@Html.EditorFor(m => m.Title)
		<br /><br />
		@Html.Label("Author", "Autor")
		<br />
		@Html.EditorFor(m => m.Author)
		<br /><br />
		@Html.Label("Price", "Pret")
		<br />
		@Html.EditorFor(m => m.Price)
		<br /><br />

		<label>Selectati categoria</label>
		@Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
		<br />

		@Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
		<br /><br />
		<button type="submit">Modifica carte</button>
	}
}

